NodeRed/nodered_flow.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af16ca46.f30ab","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"8d2cdc77.495e7","type":"ui_group","z":"","name":"Button","tab":"af16ca46.f30ab","disp":true,"width":"13","collapse":false},{"id":"c3124e2.75b4ab","type":"mqtt-broker","z":"","name":"IoT Challenge 2","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"EwsFHR4iERE3OzUwCzUrEQI","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad5dbdbd.5fbc4","type":"ui_group","z":"","name":"RSSI Chart","tab":"d5d66642.c7c8f","disp":true,"width":"25","collapse":false},{"id":"d5d66642.c7c8f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ffebd66a.fda688","type":"ui_group","z":"","name":"Chart with integer X axis","tab":"2bd35d06.24dc0a","order":1,"disp":true,"width":"12"},{"id":"2bd35d06.24dc0a","type":"ui_tab","z":"","name":"Chart.js example","icon":"dashboard","order":2},{"id":"83883a66.b2743","type":"file in","z":"b5d1af96.0416f8","name":"Capture file","filename":"/home/user/spy_your_mate/NodeRed/capture2_test_csv_from_wireshark.csv","format":"lines","chunk":false,"sendError":false,"x":370,"y":380,"wires":[["6edd21d.e347a6"]]},{"id":"6edd21d.e347a6","type":"csv","z":"b5d1af96.0416f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":500,"wires":[["549d596b.6a19b8"]]},{"id":"5728f208.aff43c","type":"function","z":"b5d1af96.0416f8","name":"Prepare ground truth","func":"let capture = msg.payload[\"capture\"];\nlet prediction = msg.payload[\"prediction\"];\n\n\nlet data_capture = [];\n\ncapture.forEach(function (entry) {\n    \n    let time = entry[\"Time\"];\n    let person;\n    \n    if (data_capture.length === 0 || ( parseInt(data_capture[data_capture.length-1][\"x\"] / 0.5) < parseInt(time / 0.5))){\n        \n        if (time < 75) {\n        person = 1;\n        }\n        else if (time < 137) {\n            person = 0;\n        }\n        else if (time < 209) {\n            person = 1;\n        }\n        else if (time < 273) {\n            person = 0;\n        }\n        else {\n            person = 1;\n        }\n        \n        let tuple = {\n            \"x\": time,\n            \"y\": person\n        };\n        \n        data_capture.push(tuple);\n    }\n});\n\n\nlet data_prediction = [];\n\nprediction.forEach(function (entry) {\n    \n    let packetId = entry[\"PacketId\"];\n    let person = entry [\"Person\"];\n    \n    let time = packetId*0.5;\n        \n    let tuple = {\n        \"x\": time,\n        \"y\": person\n    };\n    \n    data_prediction.push(tuple);\n});\n\n\nmsg.payload = [{\n    \"series\": [\"Ground truth\", \"Prediction\"],\n    \"data\": [data_capture, data_prediction],\n    \"labels\": [\"time1\", \"time2\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":860,"wires":[["cee31d05.2d18f"]]},{"id":"2a87ad15.1b00f2","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":420,"wires":[]},{"id":"cee31d05.2d18f","type":"ui_chart","z":"b5d1af96.0416f8","name":"","group":"8d2cdc77.495e7","order":0,"width":"0","height":"0","label":"capture vs prediction","chartType":"line","legend":"true","xformat":"x","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0096ff","#ff001d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1000,"y":860,"wires":[[],[]]},{"id":"dd1e515e.e4cb4","type":"inject","z":"b5d1af96.0416f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["83883a66.b2743","49c3377b.a87798"]]},{"id":"49c3377b.a87798","type":"file in","z":"b5d1af96.0416f8","name":"Prediction file","filename":"/home/user/spy_your_mate/NodeRed/prediction.csv","format":"lines","chunk":false,"sendError":false,"x":200,"y":680,"wires":[["71374452.010ab4"]]},{"id":"71374452.010ab4","type":"csv","z":"b5d1af96.0416f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":680,"wires":[["ea653018.e3f638"]]},{"id":"63966616.8888f","type":"join","z":"b5d1af96.0416f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":580,"wires":[["5728f208.aff43c"]]},{"id":"549d596b.6a19b8","type":"function","z":"b5d1af96.0416f8","name":"Add topic \"capture\"","func":"msg.topic = \"capture\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["63966616.8888f"]]},{"id":"ea653018.e3f638","type":"function","z":"b5d1af96.0416f8","name":"Add topic \"prediction\"","func":"msg.topic = \"prediction\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["63966616.8888f"]]}]
