NodeRed/nodered_flow.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af16ca46.f30ab","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"8d2cdc77.495e7","type":"ui_group","z":"","name":"Button","tab":"af16ca46.f30ab","disp":true,"width":"6","collapse":false},{"id":"b2191ffc.fbb6f","type":"ui_button","z":"b5d1af96.0416f8","name":"","group":"8d2cdc77.495e7","order":0,"width":0,"height":0,"passthru":false,"label":"click","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":120,"wires":[["876ca6de.bbf188","209e2dac.09dada","7ec133a1.493584","83883a66.b2743"]]},{"id":"876ca6de.bbf188","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"209e2dac.09dada","type":"ui_toast","z":"b5d1af96.0416f8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":590,"y":340,"wires":[]},{"id":"7ec133a1.493584","type":"ui_text","z":"b5d1af96.0416f8","group":"8d2cdc77.495e7","order":0,"width":0,"height":0,"name":"","label":"Click Here!","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":60,"wires":[]},{"id":"83883a66.b2743","type":"file in","z":"b5d1af96.0416f8","name":"","filename":"/home/user/capture.csv","format":"lines","chunk":false,"sendError":false,"x":300,"y":480,"wires":[[]]},{"id":"c015b145.42e888","type":"file in","z":"b5d1af96.0416f8","name":"","filename":"/home/user/capture.csv","format":"lines","chunk":false,"sendError":false,"x":810,"y":300,"wires":[[]]}]
