NodeRed/nodered_flow.txt
[{"id":"3e1f0d71.6fcaca","type":"tab","label":"Random Forest","disabled":false,"info":""},{"id":"6128d02f.c6b2a8","type":"file in","z":"3e1f0d71.6fcaca","name":"Capture file","filename":"/home/user/spy_your_mate/NodeRed/capture2_test_csv_from_wireshark.csv","format":"lines","chunk":false,"sendError":false,"x":370,"y":80,"wires":[["22c2c632.d42852"]]},{"id":"22c2c632.d42852","type":"csv","z":"3e1f0d71.6fcaca","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":200,"wires":[["aceaff32.6910a"]]},{"id":"a7a3a160.29c0e","type":"function","z":"3e1f0d71.6fcaca","name":"Prepare ground truth","func":"let capture = msg.payload[\"capture\"];\nlet prediction = msg.payload[\"prediction\"];\n\n\nlet data_capture = [];\n\ncapture.forEach(function (entry) {\n    \n    let time = entry[\"Time\"];\n    let person;\n    \n    if (data_capture.length === 0 || ( parseInt(data_capture[data_capture.length-1][\"x\"] / 0.5) < parseInt(time / 0.5))){\n        \n        if (time < 75) {\n        person = 1;\n        }\n        else if (time < 137) {\n            person = 0;\n        }\n        else if (time < 209) {\n            person = 1;\n        }\n        else if (time < 273) {\n            person = 0;\n        }\n        else {\n            person = 1;\n        }\n        \n        let tuple = {\n            \"x\": time,\n            \"y\": person\n        };\n        \n        data_capture.push(tuple);\n    }\n});\n\n\nlet data_prediction = [];\n\nprediction.forEach(function (entry) {\n    \n    let packetId = entry[\"PacketId\"];\n    let person = entry [\"Person\"];\n    \n    let time = packetId*0.5;\n        \n    let tuple = {\n        \"x\": time,\n        \"y\": person\n    };\n    \n    data_prediction.push(tuple);\n});\n\n\nmsg.payload = [{\n    \"series\": [\"Ground truth\", \"Prediction\"],\n    \"data\": [data_capture, data_prediction],\n    \"labels\": [\"time1\", \"time2\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["74cab29c.6b3e1c"]]},{"id":"7859f40c.641c5c","type":"debug","z":"3e1f0d71.6fcaca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":120,"wires":[]},{"id":"74cab29c.6b3e1c","type":"ui_chart","z":"3e1f0d71.6fcaca","name":"","group":"8d2cdc77.495e7","order":0,"width":"0","height":"0","label":"Random forest","chartType":"line","legend":"true","xformat":"x","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0096ff","#ff001d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":980,"y":560,"wires":[[],[]]},{"id":"7a32bd75.3ce844","type":"inject","z":"3e1f0d71.6fcaca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["6128d02f.c6b2a8","cc10b639.d97b88"]]},{"id":"cc10b639.d97b88","type":"file in","z":"3e1f0d71.6fcaca","name":"Prediction file","filename":"/home/user/spy_your_mate/NodeRed/prediction_random_forest.csv","format":"lines","chunk":false,"sendError":false,"x":200,"y":380,"wires":[["e93fca60.b887f"]]},{"id":"e93fca60.b887f","type":"csv","z":"3e1f0d71.6fcaca","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":380,"wires":[["769c3c92.34727c"]]},{"id":"571cda2.c4ce724","type":"join","z":"3e1f0d71.6fcaca","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":280,"wires":[["a7a3a160.29c0e"]]},{"id":"aceaff32.6910a","type":"function","z":"3e1f0d71.6fcaca","name":"Add topic \"capture\"","func":"msg.topic = \"capture\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["571cda2.c4ce724"]]},{"id":"769c3c92.34727c","type":"function","z":"3e1f0d71.6fcaca","name":"Add topic \"prediction\"","func":"msg.topic = \"prediction\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["571cda2.c4ce724"]]},{"id":"8d2cdc77.495e7","type":"ui_group","z":"","name":"Button","tab":"af16ca46.f30ab","disp":true,"width":"13","collapse":false},{"id":"af16ca46.f30ab","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"}]
