NodeRed/prova.txt
[{"id":"3a79ae2c.9908ea","type":"inject","z":"6bf9fb85.abde3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":132,"y":504,"wires":[["8fa40c3a.81cc4","4469c52c.6b30a4"]]},{"id":"8fa40c3a.81cc4","type":"file in","z":"6bf9fb85.abde3c","name":"","filename":".node-red/test.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":306,"y":480,"wires":[["c5a4ce2b.a5eed8"]]},{"id":"b18add9e.c07308","type":"debug","z":"6bf9fb85.abde3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":504,"wires":[]},{"id":"c5a4ce2b.a5eed8","type":"csv","z":"6bf9fb85.abde3c","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":506,"y":504,"wires":[["d5d50c16.bcd7e"]]},{"id":"4469c52c.6b30a4","type":"file in","z":"6bf9fb85.abde3c","name":"","filename":".node-red/test.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":306,"y":528,"wires":[["c5a4ce2b.a5eed8"]]},{"id":"d5d50c16.bcd7e","type":"batch","z":"6bf9fb85.abde3c","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":626,"y":504,"wires":[["eaf46429.a6f038"]]},{"id":"eaf46429.a6f038","type":"join","z":"6bf9fb85.abde3c","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":746,"y":504,"wires":[["c670b1c5.8eee38"]]},{"id":"c670b1c5.8eee38","type":"function","z":"6bf9fb85.abde3c","name":"","func":"m = msg.payload\n\ncombined = m[0].concat(m[1])\n\nreturn {payload:combined}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":876,"y":504,"wires":[["5f358519.1fec34"]]},{"id":"5f358519.1fec34","type":"csv","z":"6bf9fb85.abde3c","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"first,last,street,city,state,postcode","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1010,"y":504,"wires":[["b18add9e.c07308"]]}]
